include ../mixins/table.pug
include ../mixins/button-sec.pug
include ../mixins/modal
main.flex-grow.grid.gap-6.overflow-hidden.content-start.relative(class="p-3 md:py-6 md:px-6  lg:py-8 lg:px-12" x-data="{step:1,s:1 , next() {if (this.step < 3) this.step++;if (this.s < 4) this.s++;this.orderSuccessfully = this.s === 4;} ,prev(){if(this.step >= 1)this.step--}}")
	include ./head-tabs
	.cent__bet.gap-4
		.header__primary__start Ticket Detail & History - Muhammad
			| Muhammad Abdullah
		div(@click="editStartDate = false")  
			+button-sec('Share',""," w-full")
	.grid.gap-8
		div(class="  bg-white rounded-2xl border border-gray-300 p-4 py-6 grid gap-6 content-start")
			.sub__header__primary  My Info
			.grid.content-start(class=" md:grid-cols-2  lg:gap-x-16 gap-6  ")
				.cent__bet.gap-6
					h4( class="text-zinc-600 text-xs font-normal  tracking-wider") No.
					p(class="text-neutral-700 text-sm font-bold cent gap-2 ") 4115
		
				.cent__bet.gap-6
					h4( class="text-zinc-600 text-xs font-normal  tracking-wider") Type
					p(class="text-neutral-700 text-sm font-bold ") Agreements
				.cent__bet.gap-6
					h4( class="text-zinc-600 text-xs font-normal  tracking-wider") Created by
					p(class="text-neutral-700 text-sm font-bold ") Israa Magdy
				.cent__bet.gap-6
					h4( class="text-zinc-600 text-xs font-normal  tracking-wider") Branch
					p(class="text-neutral-700 text-sm font-bold ") Proleaders Rayyan Riyad โ Female
				.cent__bet.gap-6
					h4( class="text-zinc-600 text-xs font-normal  tracking-wider") Source
					a( href=" " class="text-primary text-sm font-bold ") Call
			include ./line-breake
			.sub__header__primary  Description
			.grid.content-start
				div.text-start ๐ุงููุญุงุณุจู ูุบูุฑ ุงููุญุงุณุจูู ๐ูุฏู ุงูุฏูุฑู ุดูุฑ ุงููุญุงุถุฑุงุช ูู ุงูุฃุญุฏ ุฅูู ุงูุฎููุณ ุณุงุนุชูู ุจุงูููู ๐ุงููุญุงุถุฑุงุช ุนู ุจุนุฏ ุจุซ ูุจุงุดุฑ ุชูุงุนูู ูู ุฎูุงู ููุตุชูุง ุงูุฅูุชุฑุงุถูุฉ ุจุฑู ุงูููุงูู ูุจุนุฏ ุงูุชูุงุก ุงูุจุซ ุงููุจุงุดุฑ ุจุชูููู ุงููุญุงุถุฑุฉ ูุณุฌูู ูู ุญุณุงุจ ุญุถุฑุชู ๐ุงูุดูุงุฏุฉ ูุนุชูุฏู ูู ุงููุคุณุณู ุงูุนุงูู ููุชุฏุฑูุจ ุงูุชููู ูุงููููู ุจุงูููููุฉ ุงูุนุฑุจูุฉ ุงูุณุนูุฏูุฉ ูุญุงูุฑ ุฏูุฑุฉ ุงููุญุงุณุจุฉ ูุบูุฑ ุงููุญุงุณุจูู. ๐ุงูููุงููู ุงููุญุงุณุจูุฉ ุงูุฃุณุงุณูุฉ. ๐ุงููุนุงุฏูุฉ ุงููุญุงุณุจูุฉ ูุชุญููู ุงูุนูููุงุช ุงููุงููุฉ. ๐ุงูุชุนุฑู ุนูู ููููุฉ ุนูู ุงูุชุญุงููู ููุนูููุงุช ุงููุงููุฉ ูุงููุนุงุฏูุงุช ุงูุญุณุงุจูุฉ. ๐ุงูุฏูุฑุฉ ุงููุญุงุณุจูุฉ ูุฃุณุงููุจ ุชุณุฌูู ูุชุฑุญูู ุงููููุฏ ุงููุญุงุณุจูุฉ. ๐ุนูุงุตุฑ ุงูููุงุฆู ุงููุงููุฉ ุงูุฃุณุงุณูุฉ ูุฃูููุชูุง. ๐ุชุนูู ุฃุณุงููุจ ุชุณุฌูู ูุชุฑุญูู ุจูููู ุฏุง ุงูุฑุณุงูู ุงููู ุงุชุจุนุชุชูู ูุน ุงุณุงุณูุง ุณุฌูุช ุจุณ ูุงูุงููุช ุฏุง ุจุงูุฏูุฑู
		
		+table()
			+t('thead')
				th(scope='col') #
				th(scope='col')  Status
				th(scope='col') Source
				th(scope='col') By
				th(scope='col')  Comment
				th(scope='col') Created At
				th(scope='col') Attachments 
			+t('tbody')
				tr 
					th 1
					th General English
					td Customer Care Team
					td Shaimaa Mohamed
					td 
						.cent.whitespace-break-spaces.w-96 
							span.line-clamp-1.t1 ุชู ุงุฑุณุงู ุงูุงูุฑ ุงูู ูุณู ุงูุชุดุบูู ูุงูุงุฏุชูุง ูููุง ูู ููุถุญ ุจ ุงู ุงูุทุงูุจุฉ ูุงูุช ููุง ูุญุงุถุฑุชูู ุชุฏุฑุณ ุงููุญุงุณุจุฉ ููุงูู ุงูุงุดูุงุก ุงููู ุงุดุชุฑูุช
							button.font-semibold.text-primary.text-nowrap(href=""   onclick="expand('t1')")  ุงูุฑุง ุงููุฒูุฏ

					td Dec 21, 2023, 1:46 pm
					td 
						include ./svgs/eye
				
				
				tr 
					th 1
					th General English
					td Customer Care Team
					td Shaimaa Mohamed
					td 
						.cent.whitespace-break-spaces.w-96 
							span.line-clamp-1.t1 ุชู ุงุฑุณุงู ุงูุงูุฑ ุงูู ูุณู ุงูุชุดุบูู ูุงูุงุฏุชูุง ูููุง ูู ููุถุญ ุจ ุงู ุงูุทุงูุจุฉ ูุงูุช ููุง ูุญุงุถุฑุชูู ุชุฏุฑุณ ุงููุญุงุณุจุฉ ููุงูู ุงูุงุดูุงุก ุงููู ุงุดุชุฑูุช
							button.font-semibold.text-primary.text-nowrap(href=""   onclick="expand('t1')")  ุงูุฑุง ุงููุฒูุฏ

					td Dec 21, 2023, 1:46 pm
					td 
						include ./svgs/eye
				
				
				tr 
					th 1
					th General English
					td Customer Care Team
					td Shaimaa Mohamed
					td 
						.cent.whitespace-break-spaces.w-96 
							span.line-clamp-1.t1 ุชู ุงุฑุณุงู ุงูุงูุฑ ุงูู ูุณู ุงูุชุดุบูู ูุงูุงุฏุชูุง ูููุง ูู ููุถุญ ุจ ุงู ุงูุทุงูุจุฉ ูุงูุช ููุง ูุญุงุถุฑุชูู ุชุฏุฑุณ ุงููุญุงุณุจุฉ ููุงูู ุงูุงุดูุงุก ุงููู ุงุดุชุฑูุช
							button.font-semibold.text-primary.text-nowrap(href=""   onclick="expand('t1')")  ุงูุฑุง ุงููุฒูุฏ

					td Dec 21, 2023, 1:46 pm
					td 
						include ./svgs/eye
				
				
				tr 
					th 1
					th General English
					td Customer Care Team
					td Shaimaa Mohamed
					td 
						.cent.whitespace-break-spaces.w-96 
							span.line-clamp-1.t1 ุชู ุงุฑุณุงู ุงูุงูุฑ ุงูู ูุณู ุงูุชุดุบูู ูุงูุงุฏุชูุง ูููุง ูู ููุถุญ ุจ ุงู ุงูุทุงูุจุฉ ูุงูุช ููุง ูุญุงุถุฑุชูู ุชุฏุฑุณ ุงููุญุงุณุจุฉ ููุงูู ุงูุงุดูุงุก ุงููู ุงุดุชุฑูุช
							button.font-semibold.text-primary.text-nowrap(href=""   onclick="expand('t1')")  ุงูุฑุง ุงููุฒูุฏ

					td Dec 21, 2023, 1:46 pm
					td 
						include ./svgs/eye
				
				
				tr 
					th 1
					th General English
					td Customer Care Team
					td Shaimaa Mohamed
					td 
						.cent.whitespace-break-spaces.w-96 
							span.line-clamp-1#t1 ุชู ุงุฑุณุงู ุงูุงูุฑ ุงูู ูุณู ุงูุชุดุบูู ูุงูุงุฏุชูุง ูููุง ูู ููุถุญ ุจ ุงู ุงูุทุงูุจุฉ ูุงูุช ููุง ูุญุงุถุฑุชูู ุชุฏุฑุณ ุงููุญุงุณุจุฉ ููุงูู ุงูุงุดูุงุก ุงููู ุงุดุชุฑูุช
							button.font-semibold.text-primary.text-nowrap(href=""   onclick="expand('t1')")  ุงูุฑุง ุงููุฒูุฏ

					td Dec 21, 2023, 1:46 pm
					td 
						include ./svgs/eye
				
				
		.cent 
			include ./pagination